<!DOCTYPE html>
<html>
  <head>
    <title><%= wb_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet"> -->
  </head>

  <body>
    <%= render "layouts/intro" %>
    <%= render "layouts/nav_bar" %>
  	<div class="container">
  		<%= yield %>
  	</div>
    <%= render "layouts/footer" %>
  </body>
</html>
